In [2]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSE294074_series_matrix.txt", sep="\t", comment="!")
df.head()

Empty DataFrame
Columns: [ID_REF, GSM8898319, GSM8898320, GSM8898321, GSM8898322, GSM8898323, GSM8898324]
Index: []

In [3]:
df = pd.read_csv(
    r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSE294074_series_matrix.txt",
    sep="\t",
    comment="!",
    header=0
)

In [4]:
df.shape
df.head()

Empty DataFrame
Columns: [ID_REF, GSM8898319, GSM8898320, GSM8898321, GSM8898322, GSM8898323, GSM8898324]
Index: []

In [5]:
df.columns

Index(['ID_REF', 'GSM8898319', 'GSM8898320', 'GSM8898321', 'GSM8898322',
       'GSM8898323', 'GSM8898324'],
      dtype='object')

In [6]:
df = df.set_index("ID_REF")
df.head()

Empty DataFrame
Columns: [GSM8898319, GSM8898320, GSM8898321, GSM8898322, GSM8898323, GSM8898324]
Index: []

In [7]:
df.describe()

       GSM8898319 GSM8898320 GSM8898321 GSM8898322 GSM8898323 GSM8898324
count           0          0          0          0          0          0
unique          0          0          0          0          0          0
top           NaN        NaN        NaN        NaN        NaN        NaN
freq          NaN        NaN        NaN        NaN        NaN        NaN

In [8]:
import pandas as pd

df1 = pd.read_csv(
    r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSM8898319_Ctrl-1.polya_influence.xls", sep="\t"
)

df1.head()

          gene  polya_len  coding_cap    tpm
0    PB.5769.4       90.0     3.99307  20.02
1   PB.11528.1      185.0     3.42416  40.04
2   PB.17701.1      220.0     3.18146  20.02
3  PB.3407.382      176.0    -1.20174  20.02
4  PB.13560.38      338.0     2.18677  20.02

In [9]:
df1.columns

Index(['gene', 'polya_len', 'coding_cap', 'tpm'], dtype='object')

In [10]:
df1.shape

(37405, 4)

In [11]:

df1.columns = ["Ctrl_1"]
df1.head()

ValueError: Length mismatch: Expected axis has 4 elements, new values have 1 elements

In [12]:
import pandas as pd
files = {"Ctrl_1": r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSM8898319_Ctrl-1.polya_influence.xls",
    "Ctrl_2": r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSM8898320_Ctrl-2.polya_influence.xls",
    "Ctrl_3": r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSM8898321_Ctrl-3.polya_influence.xls",
    "PCOS_1": r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSM8898322_PCOS-1.polya_influence.xls",
    "PCOS_2": r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSM8898323_PCOS-2.polya_influence.xls",
    "PCOS_3": r"C:\Users\Public\Documents\bioinformatics-gene-expression\data\GSM8898324_PCOS-3.polya_influence.xls",
}

dfs = []
for sample, path in files.items():
    df = pd.read_csv(path, sep="\t")
    df = df[["gene", "tpm"]].set_index("gene")
    df.columns = [sample]
    dfs.append(df)

expr = pd.concat(dfs, axis = 1)
expr = expr.fillna(0)

expr.head()

             Ctrl_1  Ctrl_2  Ctrl_3  PCOS_1  PCOS_2  PCOS_3
gene
PB.5769.4     20.02    0.00    0.00   21.28   18.83   21.28
PB.11528.1    40.04    0.00   20.89   42.56   56.48   21.28
PB.17701.1    20.02    0.00    0.00    0.00    0.00    0.00
PB.3407.382   20.02    0.00    0.00    0.00    0.00    0.00
PB.13560.38   20.02   90.09   41.77  106.41  131.78   85.14

In [ ]:
expr.shape
expr.isna().sum().sum()

np.int64(0)

In [ ]:
expr.shape

(145088, 6)

In [19]:
expr.to_csv(r"C:\Users\Public\Documents\bioinformatics-gene-expression\processed\matrix.csv")